/* Variables */
:root {
  --primary-color-01: #fa7453;
  --primary-color-02: #191826;
  --accent-color-01: #66e2dc;
  --accent-color-02: #ffb964;
  --neutral-color-01: #fcfaf9;
}

/* Global Styles */
html {
  background-color: var(--neutral-color-01);
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--primary-color-02);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Global Classes */
/* Typography */

h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: clamp(2.5rem, 1.43rem + 5.36vw, 4rem);
}

h2 {
  font-size: clamp(2rem, 1.64rem + 1.79vw, 2.5rem);
  margin-bottom: 0.75em;
}

p {
  font-size: 1.125em;
}

p .text-bold {
  font-weight: 700;
}

/* Header */

header,
footer {
  padding: 1.5em;
}

.text-container {
  margin: 4em 0;
}

.text-container p {
  margin-top: 1.25em;
}

.header-logo,
.footer-logo {
  height: 32px;
}

.bg-pattern-1 {
  display: none;
}

/* Image Container */

.image-container {
  background-color: var(--primary-color-02);
  position: relative;
  border-radius: 12px;
  z-index: -10;
}

.illustration-app {
  max-height: 430px;
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translateX(-50%);
  z-index: 5;
}

.bg-pattern-2 {
  max-width: 280px;
  margin: 0 auto;
}

/* CTA container */

.cta-container {
  background-color: var(--primary-color-01);
  border-radius: 12px;
  padding: 3em 2.125em;
  color: var(--neutral-color-01);
  margin-top: -2rem;
  z-index: 1;
}

.cta-container p {
  font-size: 1.25em;
}

.price-tag {
  margin: 2.25em 0 2em 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.price-tag span {
  font-weight: 700;
  font-size: 4em;
}

.cta-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background: var(--primary-color-02);
  border-radius: 12px;
  margin-bottom: 1rem;
  padding: 1em;
  transition: background-color 0.5s ease-in;
}

.cta-logo {
  height: 20px;
}

.cta-button-white {
  background: var(--neutral-color-01);
}

.cta-button a {
  font-weight: 700;
  font-size: 1.125rem;
  color: white;
  text-decoration: none;
}

.cta-button-white a {
  color: var(--primary-color-02);
}

.cta-button-white:hover,
.cta-button-white:focus {
  background-color: var(--accent-color-02);
}

.cta-button-dark:hover,
.cta-button-dark:focus {
  background-color: var(--accent-color-01);
}

/* Footer */

footer {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
}

.footer-logo {
  margin-bottom: 2em;
}

.logo-container {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1.25em;
  margin: 4em 0 5em 0;
  padding: 0;
}

.icon {
  transition: filter 0.3s ease-in;
}

.icon:hover,
.icon:focus {
  filter: invert(52%) sepia(55%) saturate(621%) hue-rotate(323deg)
    brightness(99%) contrast(98%);
}

.icon:active {
  filter: invert(92%) sepia(20%) saturate(1064%) hue-rotate(108deg)
    brightness(94%) contrast(88%);
}

/* Tablet */
@media (min-width: 42em) {
  header {
    padding-left: 4em;
  }

  .text-container {
    width: 60%;
  }

  .bg-pattern-1 {
    display: block;
    position: absolute;
    right: -2em;
    top: -2em;
    max-height: 400px;
  }

  /* Image Container */
  .image-container {
    width: 696px;
    height: 600px;
    left: 4em;
  }

  .illustration-app {
    max-height: 556px;
    left: 25%;
    bottom: 15%;
    transform: translateX(-50%);
    z-index: 5;
  }

  /* CTA Container */

  .cta-container {
    width: 400px;
    position: relative;
    margin-top: -25em;
    margin-right: 4em;
    margin-left: auto;
    padding: 3em;
  }

  /* footer */
  footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 4em;
  }

  .footer-text {
    width: 60%;
  }
}

/* Desktop */
@media (min-width: 62em) {
  .container {
    max-width: 1280px;
    position: relative;
  }

  header {
    margin-bottom: 15em;
  }

  .bg-pattern-1 {
    right: 0em;
    max-height: 468px;
  }

  p {
    font-size: 1.25em;
  }

  .image-container {
    width: 1160px;
    margin-bottom: 12.5em;
  }

  .illustration-app {
    max-height: 642px;
    bottom: 35%;
  }

  .bg-pattern-2 {
    max-width: 312px;
    position: absolute;
    top: -10%;
    right: 42%;
  }
  .cta-container {
    padding: 3em 3.375em;
    position: absolute;
    right: 10%;
    bottom: 15%;
  }

  .footer-text-container {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }

  footer {
    margin-top: auto;
  }
}
